.LoginContainer {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.LoginBox {
  width: 400px;
  height: 450px;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 11px;
  background-color: #ecebe3;
}
.LoginIcon {
  width: 180px;
  height: 90px;
  margin: 10px 0 10px 0;
  background-image: url(../../assets/img/Login-Icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.LoginTitle {
  width: 65%;
  height: 12%;
  font: bold 25px Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 5px 0;
  color: #00745e;
}
.LoginContent {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0 5px 0;
}
.InputLabel {
  height: 30%;
  width: 80%;
  font: 16px Arial;
  color: #575757;
}
.Input {
  height: 22%;
  padding: 6px 0 6px 8px;
  width: 80%;
  font: 14px Arial;
  border: none;
  border-radius: 15px;
}
.Input:focus {
  outline: none;
  padding: 8px 3px 8px 8px;
}
.ValidationError {
  height: 3%;
  margin: 10px 0 5px 0;
  font: 14px Arial;
  color: red;
  display: flex;
  align-items: center;
}
.ButtonContent {
  width: 52%;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 5px 0;
}
.Button {
  width: 75px;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 92% Arial;
  border: none;
  border-radius: 15px;
  background-color: #00745e;
  color: #ecebe3;
  cursor: pointer;
}
.Button:hover {
  background-color: #014236;
}
@media only screen and (max-width: 600px) {
  .LoginBox {
    border: none;
  }
  .LoginTitle {
    font: bold 5vw Arial;
  }
  .ButtonContent{
    width: 70%;
  }
  .LoginContent{
    width: 70%;
  }
  
}
