.QueryContainer {
  width: 400px;
  min-height: 350px;
  border: 15px solid white;
  border-radius: 15px;
  background-color: #ecebe3;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QueryContainerTitle {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}
.Icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  background-image: url(../../assets/img/Search-Logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Title {
  width: 75%;
  height: 90%;
  font: bold 35px Arial;
  color: #00745e;
  display: flex;
  align-items: center;
}
.QueryCodeInputContainer {
  width: 90%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6% 0 6% 0;
}
.QueryCodeInput {
  width: 80%;
  height: 100%;
  font: 20px Arial;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
}
.QueryCodeInput:focus {
  outline: none;
  height: 35px;
}
.QueryBtnContainer {
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.QueryButton {
  width: 100px;
  height: 100%;
  font: bold 20px Arial;
  border: none;
  border-radius: 15px;
  background-color: #00745e;
  color: #ecebe3;
  cursor: pointer;
}
.QueryButton:hover {
  background-color: #014236;
}

@media only screen and (max-width: 1000px) {
  .QueryContainer {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 600px) {
  .Icon {
    width: 20px;
    height: 20px;
  }
  .Title {
    width: 80%;
    font: bold 4vw Arial;
  }
  .QueryButton {
    font: 3vw Arial;
    width: 40%;
    height: 90%;
  }
  .QueryContainer {
    width: 50%;
    margin-top: 15%;
    border: none;
  }
  .QueryCodeInput {
    font: 3vw Arial;
  }
}
