.ApplicationDetailsContainer {
  width: 55%;
  min-height: 700px;
  margin-top: 5%;
  border: 15px solid white;
  border-radius: 15px;
  background-color: #ecebe3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.ApplicationStatus {
  width: 48%;
  height: 690px;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ApplicationStatusTitle {
  width: 100%;
  height: 8%;
  font: bold 35px Arial;
  color: #00745e;
  margin: 5% 0 20px 0;
  display: flex;
  align-items: center;
}
.ApplicationStatusInfo {
  width: 98%;
  height: 20%;
  font: 20px Arial;
}
@media only screen and (max-width: 1000px) {
  .ApplicationDetailsContainer {
    flex-direction: column;
    align-self: center;
  }
  .ApplicationStatus {
    width: 90%;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .ApplicationDetailsContainer {
    border: none;
    width: 80%;
  }
  .ApplicationStatusTitle {
    font: bold 6.5vw Arial;
  }
  .ApplicationStatusInfo {
    font: 18px Arial;
  }
}
