.Navbar {
  width: calc(100% - 4px);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.NavbarContentContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.NavbarContent {
  width: 35%;
  height: 95%;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
}
.NavbarContent:hover {
  cursor: pointer;
  background-color: #ecebe33d;
}
.NavbarIcon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavbarLoginIcon {
  width: 20px;
  height: 20px;
  background-image: url(../../static/img/Navbar-Login-Icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavbarTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 30px Arial;
  color: #ecebe3;
  padding: 10px 5px 10px 10px;
}
.NavbarLoginButton {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.LoginButton {
  width: 125px;
  height: 40px;
  margin: 0 10px 0 7px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  font: bold 15px Arial;
  background-color: #ecebe3;
  color: #00745e;
  cursor: pointer;
}
.LoginButton:hover {
  width: 126px;
  height: 41px;
  box-shadow: 0 2px 5px 0 #014236, 0 2px 5px 0 #014236;
}

.SuccessFormContainer {
  width: 55%;
  min-height: 700px;
  margin-top: 5%;
  border: 15px solid white;
  border-radius: 15px;
  background-color: #ecebe3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.SuccessFormTitle {
  margin: 10px 0 20px 10px;
  height: 7%;
  width: 90%;
  font:bold 35px Arial;
  color: #00745e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SuccessFormContent {
  width: 95%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.FormInfo {
  width: 48%;
  height: 630px;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.FormInfoTitle {
  width: 90%;
  height: 8%;
  font: bold 30px Arial;
  color: #00745e;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.FormInfoContent {
  width: 90%;
  height: 5%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.FormLabel {
  width: 22%;
  height: 90%;
  font: 17px Arial;
  display: flex;
  align-items: center;
  color: #575757;
  margin-right: 13px;
}
.FormInput {
  width: 75%;
  height: 90%;
  font: 18px Arial;
  display: flex;
  align-items: center;
}
.FormDescriptionContent {
  width: 90%;
  height: 15%;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
}
.FormDescriptionLabel {
  width: 22%;
  height: 40%;
  font: 17px Arial;
  display: flex;
  color: #575757;
  margin-right: 13px;
}
.FormDescriptionInput {
  width: 75%;
  height: 90%;
  font: 18px Arial;
  display: inline-block;
  align-items: center;
  word-wrap: break-word;
  overflow-y: scroll;
}
.FormDescriptionInput::-webkit-scrollbar {
  display: none;
}
.QueryCodeInfo {
  width: 48%;
  height: 630px;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.QueryCodeTitle {
  width: 100%;
  height: 20%;
  font: 4vw Arial;
  color: #00745e;
  display: flex;
  align-items: center;
}
.QueryCodeDescription {
  width: 95%;
  height: 20%;
  font: 20px Arial;
}
.QueryCode {
  width: 50%;
  height: 10%;
  background-color: #00745e;
  border-radius: 30px;
  color: #ecebe3;
  font: 20px Arial;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .SuccessFormContent{
    flex-direction: column;
    align-self: center;
  }
  .FormInfo{
    width: 90%;
  }
  .QueryCodeInfo{
    width: 90%;
    margin-top: 20px;
  }
  .NavbarContent {
    width: 150px;
    padding-left: 10px;
  }
  .NavbarTitle {
    font: bold 25px Arial;
    margin: 0 5px 0 5px;
  }
}

@media only screen and (max-width: 600px) {
  .NavbarContent {
    width: 90px;
    height: 50px;
    border: 2px solid #ecebe3;
    border-radius: 30px;
    margin: 5px 2px 5px 2px;
  }
  .NavbarTitle {
    font: bold 15px Arial;
    margin: 0 5px 0 5px;
  }
  .SuccessFormContainer{
    border: none;
    width: 80%;
  }
  .FormInfoTitle{
    font: bold 6.5vw Arial;
  }
  .QueryCodeTitle{
    font: bold 7vw Arial;
  }
  .FormLabel{
    margin-right: 25px;
  }
  .FormDescriptionLabel{
    margin-right: 25px;
  }
  .QueryCodeInfo {
    width: 90%;
    margin-top: 20px;
  }
  .QueryCodeDescription{
    font: 18px Arial;
  }
  .QueryCode{
    font: 18px Arial;
  }
}
