.ApplicationDetailsContainer {
  width: 55%;
  min-height: 700px;
  margin-top: 5%;
  border: 11px solid white;
  border-radius: 15px;
  background-color: #ecebe3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.StatusUpdate {
  width: 48%;
  height: 650px;
  margin-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.StatusUpdateTitle {
  width: 90%;
  height: 8%;
  font: bold 30px Arial;
  color: #00745e;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.StatusUpdateInput {
  width: 90%;
  height: 20%;
  margin: 10px 0 10px 0;
  border: none;
  border-radius: 10px;
}
.StatusUpdateInput::-webkit-scrollbar {
  display: none;
}
.UpdateBtnContainer {
  width: 90%;
  height: 13%;
  display: flex;
  justify-content: flex-end;
}
.UpdateBtn {
  width: 100px;
  height: 50%;
  font: 16px Arial;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #00745e;
  color: #ecebe3;
}
.UpdateBtn:hover {
  background-color: #014236;
}

@media only screen and (max-width: 1000px) {
  .ApplicationDetailsContainer {
    flex-direction: column;
    align-self: center;
    width: 80%;
  }
  .StatusUpdate {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .ApplicationDetailsContainer {
    border: none;
  }
  .StatusUpdateTitle {
    font: bold 6.5vw Arial;
  }
}
