.Navbar {
  width: calc(100% - 4px);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.NavbarContentContainer {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.NavbarContent {
  width: 35%;
  height: 95%;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 30px;
}
.NavbarContent:hover {
  cursor: pointer;
  background-color: #ecebe33d;
}
.NavbarIcon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavbarLoginIcon {
  width: 20px;
  height: 20px;
  background-image: url(../../static/img/Navbar-Login-Icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavbarTitle {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: bold 30px Arial;
  color: #ecebe3;
  padding: 10px 5px 10px 10px;
}

.NavbarLoginButton {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.LoginButton {
  width: 125px;
  height: 40px;
  margin: 0 10px 0 7px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 20px;
  font: bold 15px Arial;
  background-color: #ecebe3;
  color: #00745e;
  cursor: pointer;
}
.LoginButton:hover {
  width: 126px;
  height: 41px;
  box-shadow: 0 2px 5px 0 #014236, 0 2px 5px 0 #014236;
}
.FormContainer {
  width: 40%;
  height: 615px;
  margin: 6%;
  border: 15px solid white;
  background-color: #ecebe3;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.FormTitle {
  margin: 10px 0 20px 10px;
  height: 50px;
  width: 60%;
  font: bold 35px Arial;
  color: #00745e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FormInputLabel {
  height: 3%;
  width: 50%;
  margin: 13px 0 5px 10px;
  font: 15px Arial;
  color: #575757;
  display: flex;
  align-items: center;
}
.FormInput {
  height: 4%;
  width: 50%;
  font: 20px Arial;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 15px;
}
.FormInput:focus{
  outline: none;
  height: 5%;
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.InputContainer {
  height: 15%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px 0 5px 10px;
}
.AddressLabel {
  height: 20%;
  width: 12%;
  font: 15px Arial;
  color: #575757;;
  display: flex;
  align-items: center;
}
.AddressInput {
  height: 70%;
  width: 100%;
  display: flex;
  align-content: flex-start;
  justify-content: left;
  font: 15px Arial;
  margin-top: 5px;
  padding-left: 5px;
  border: none;
  border-radius: 10px;
  overflow-y: scroll;
}
.AddressInput::-webkit-scrollbar{
  display: none;
}
.AddressInput:focus{
  outline: none;
}
.FormFileContainer{
  height: 4%;
  width: 50%;
  margin-top: 5px;
}
.FormFileLabel{
  height: 5%;
  width: 50%;
  margin: 13px 0 5px 10px;
  font: 15px Arial;
  color: #575757;
  display: flex;
  align-items: center;
}
.FormFileInput{
  height: 30px;
  width: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 15px Arial;
  color: #ecebe3;
  background-color: #00745e;
  border-radius: 15px;
  cursor: pointer;
}
.ButtonContainer {
  height: 5%;
  width: 50%;
  margin: 30px 0 5px 10px;
  display: flex;
  justify-content: flex-end;
}
.SendBtn {
  height: 40px;
  width: 95px;
  margin: 0px 0 5px 10px;
  font: bold 17px Arial;
  background-color: #00745e;
  color: #ecebe3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.SendBtn:hover{
  background-color: #014236;
}

@media only screen and (max-width: 1000px) {
  .FormContainer{
    width: 80%;
  }
  .NavbarContent {
    width: 150px;
    padding-left: 10px;
  }
  .NavbarTitle {
    font: bold 25px Arial;
    margin: 0 5px 0 5px;
  }
  .ButtonContainer{
    height: 10%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .FormContainer{
    border:none;
  }
  .FormTitle{
    margin-top: 20px;
    font: bold 30px Arial;
  }
  .FormInput{
    font: 17px Arial;
  }
  .NavbarContent {
    width: 90px;
    height: 50px;
    border: 2px solid #ecebe3;
    border-radius: 30px;
    margin: 5px 2px 5px 2px;
  }
  .NavbarTitle {
    font: bold 15px Arial;
    margin: 0 5px 0 5px;
  }
  .FormFileInput{
    margin-top: 10px;
  }
}
